In [3]:
import pandas as pd
import json as js
import seaborn as sns

In [7]:
df = pd.read_json("/global/projecta/projectdirs/cuore/scratch/vsharma/Tri_proton_decay/High_multiplicity_events_study/GroupedEventsAndTimesM10Count10.json")

In [10]:
df.head()

,CrystalNumbers,Energies,TimeDeltas,Time,Multiplicity,RunNumber,RunNumberStartDatetime,GroupedEventDatetime
0,"[764, 408, 415, 654, 641, 883, 668, 744, 386, ...","[7.371882356001094, 28.53449129290281, 8948.08...","[0.0, 0.012912718493680002, 0.0208472493304720...",9104.862826,111,350359,2017-05-11 20:48:02+00:50,2017-05-11 23:19:46.862826+00:50
1,"[748, 646, 628, 29, 740, 731, 240, 183, 170, 7...","[4.310218389085093, 7052.611986918407, 30.4098...","[0.0, 0.005811730392451001, 0.0087705717960480...",22306.362840,28,350359,2017-05-11 20:48:02+00:50,2017-05-12 02:59:48.362840+00:50
2,"[529, 432, 396, 574, 395, 652, 419, 613, 558, ...","[30266.529932508784, 1221.6197906360687, 1309....","[0.0, 0.008751340177695001, 0.0110118440752550...",25187.294775,64,350359,2017-05-11 20:48:02+00:50,2017-05-12 03:47:49.294775+00:50
3,"[714, 936, 934, 935, 552, 360, 564, 701, 487, ...","[2662.0010322214807, 6140.000489571613, 3018.8...","[0.0, 0.017708871164359, 0.018863438137486, 0....",27444.104126,20,350359,2017-05-11 20:48:02+00:50,2017-05-12 04:25:26.104126+00:50
4,"[272, 324, 400, 336, 246, 363, 390, 569, 323, ...","[126.26311576312327, 105.38998593476863, 10.60...","[0.0, 0.010855960550543001, 0.0141822920268160...",30073.614809,87,350359,2017-05-11 20:48:02+00:50,2017-05-12 05:09:15.614809+00:50

In [12]:
df = pd.DataFrame(columns = ['channel', 'energy'])

In [13]:
energyList = [0,1,2,3,4,5]

In [14]:
channelList = [5,6,7,8,9,5]

In [16]:
df['channel'] = channelList
df['energy'] = energyList

In [18]:
df.head(n=10)

   channel  energy
0        5       0
1        6       1
2        7       2
3        8       3
4        9       4
5        5       5

In [19]:
df1 = pd.DataFrame(columns = ['channel', 'energy'])

In [20]:
df1['channel'] = channelList
df1['energy'] = energyList

In [21]:
pd.concat([df1, df])

   channel  energy
0        5       0
1        6       1
2        7       2
3        8       3
4        9       4
5        5       5
0        5       0
1        6       1
2        7       2
3        8       3
4        9       4
5        5       5

In [47]:
df2 = pd.DataFrame(columns = ['channel', 'energy'])
for i in range(5):
    df0 = pd.DataFrame(columns = ['channel', 'energy'])
    df0['channel'] = channelList
    df0['energy'] = energyList
    df2 = pd.concat([df2,df0], ignore_index = True)

In [38]:
df2 = pd.DataFrame(columns = ['channel', 'energy'])

In [39]:
df2.head()

Empty DataFrame
Columns: [channel, energy]
Index: []

In [48]:
df2.shape[0]

30